<table class="w-full md:w-full table-auto text-sm text-left">
  <thead class="bg-gray-50 text-purple-900 font-bold border-b text-left">
    <tr>
      <th class="py-3 px-3"># Ref</th>
      <th class="py-3 px-3">Client</th>
      <th class="py-3 px-3">N. D'articles</th>
      <th class="py-3 px-3">Statuts</th>
      <th class="py-3 px-3">Totale</th>
    </tr>
  </thead>

  <tbody class="text-gray-600 font-medium divide-y bg-white">
    {% for order in orders %}    
        <tr>
            <td class="px-3 py-4 whitespace-nowrap">#<a href="{{ path('order.show', {id: order.id}) }}" class="text-purple-700 hover:underline">{{ order.reference }}</a></td>
            <td class="px-3 py-4 whitespace-nowrap">{{ order.customer.fullName }}</td>
            <td class="px-3 py-4 whitespace-nowrap">{{ order.orderDetailles|length }}</td>
            <td class="px-3 py-4 whitespace-nowrap">{{ order.status }}</td>
            <td class="px-3 py-4 whitespace-nowrap">{{ order.totale|format_currency('XOF', locale='fr') }}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>
