{% extends 'fullyAuthLayout.html.twig' %}

{% block title %}
  Dashboard
{% endblock %}

{% block body %}
  <div class="px-4 py-6 rounded-md">
    <div class="grid grid-cols-1 md:lg:grid-cols-3 lg:grid-cols-5 gap-4 mb-4">

      <div class="flex items-center justify-center rounded-md bg-white border border-gray-200 dark:bg-gray-800 shadow-lg hover:shadow-md">
        <div class="self-center text-center justify-center size-full">
          <div class="p-3 text-2xl text-gray-400 dark:text-gray-500">
            <div class="flex justify-between">
              <p class="ml-2 text-black text-sm dark:text-white">Transactions terminées</p>
              <span class="relative py-2.5 px-5 bg-gray-200 rounded-xl text-gray-500 size-11">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="absolute size-8 transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 21 3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5" />
                </svg>
              </span>
            </div>
            <div class="flex flex-col justify-center text-left">
              <p class="text-2xl font-bold text-gray-600 dark:text-gray-100">
                {{ totaleTransactionsAmount|format_currency('XOF', locale='fr') }}
              </p>
              <div class="flex justify-end text-sm text-green-500">
                <span class="text-gray-400 mr-2 text-xs">Les sept derniers jours</span>
                {% if totalTransactionPreviousLast7days > totaleTransactionsAmount %}
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6 9 12.75l4.286-4.286a11.948 11.948 0 0 1 4.306 6.43l.776 2.898m0 0 3.182-5.511m-3.182 5.51-5.511-3.181" />
                  </svg>
                  <span>-{{ transactionPercentageByPreviousAnLast7Dys }}%</span>
                  {% else %}
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18 9 11.25l4.306 4.306a11.95 11.95 0 0 1 5.814-5.518l2.74-1.22m0 0-5.94-2.281m5.94 2.28-2.28 5.941" />
                  </svg>
                  <span>+{{ transactionPercentageByPreviousAnLast7Dys }}%</span>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="flex items-center justify-center rounded-md bg-white border border-gray-200 dark:bg-gray-800 shadow-lg hover:shadow-md">
        <div class="self-center text-center justify-center size-full">
          <div class="p-3 text-2xl text-gray-400 dark:text-gray-500">
            <div class="flex justify-between">
              <p class="ml-2 text-black text-sm dark:text-white">Service de pressing</p>
              <span class="relative py-2.5 px-5 bg-purple-200 rounded-xl text-purple-600 size-11">
                <svg class="absolute size-8 transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><g id="wash_machine_line" fill='none' fill-rule='nonzero'><path d='M24 0v24H0V0h24ZM12.594 23.258l-.012.002-.071.035-.02.004-.014-.004-.071-.036c-.01-.003-.019 0-.024.006l-.004.01-.017.428.005.02.01.013.104.074.015.004.012-.004.104-.074.012-.016.004-.017-.017-.427c-.002-.01-.009-.017-.016-.018Zm.264-.113-.014.002-.184.093-.01.01-.003.011.018.43.005.012.008.008.201.092c.012.004.023 0 .029-.008l.004-.014-.034-.614c-.003-.012-.01-.02-.02-.022Zm-.715.002a.023.023 0 0 0-.027.006l-.006.014-.034.614c0 .012.007.02.017.024l.015-.002.201-.093.01-.008.003-.011.018-.43-.003-.012-.01-.01-.184-.092Z'/><path fill='currentColor' d='M17 2a3 3 0 0 1 3 3v14a3 3 0 0 1-3 3H7a3 3 0 0 1-3-3V5a3 3 0 0 1 3-3h10Zm1 8H6v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1v-9Zm-6 1a4 4 0 1 1 0 8 4 4 0 0 1 0-8Zm0 2a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm5-9H7a1 1 0 0 0-.993.883L6 5v3h12V5a1 1 0 0 0-1-1Zm-1 1a1 1 0 0 1 .117 1.993L16 7h-1a1 1 0 0 1-.117-1.993L15 5h1Zm-4 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2Z'/></g></svg>
              </span>
            </div>
            <div class="flex flex-col justify-center text-left">
              <p class="text-2xl font-bold text-gray-600 dark:text-gray-100">
                {{ collecteLast7DaysAmount|format_currency('XOF', locale='fr') }}
              </p>
              <div class="flex justify-end text-sm {{ collecteAmountPreviousLast7Days > collecteLast7DaysAmount ? "text-red-500" : "text-green-500"}}">
                <span class="text-gray-400 mr-2 text-xs">Les sept derniers jours</span>
                {% if collecteAmountPreviousLast7Days > collecteLast7DaysAmount %}
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6 9 12.75l4.286-4.286a11.948 11.948 0 0 1 4.306 6.43l.776 2.898m0 0 3.182-5.511m-3.182 5.51-5.511-3.181" />
                  </svg>
                  <span>-{{ CollectePercentageTransaction }}%</span>
                  {% else %}
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18 9 11.25l4.306 4.306a11.95 11.95 0 0 1 5.814-5.518l2.74-1.22m0 0-5.94-2.281m5.94 2.28-2.28 5.941" />
                  </svg>
                  <span>+{{ CollectePercentageTransaction }}%</span>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="flex items-center justify-center rounded-md bg-white border border-gray-200 dark:bg-gray-800 shadow-lg hover:shadow-md">
        <div class="self-center text-center justify-center size-full">
          <div class="p-3 text-2xl text-gray-400 dark:text-gray-500">
            <div class="flex justify-between">
              <p class="ml-2 text-black text-sm dark:text-white">Vente de Produit</p>
              <span class="relative py-2.5 px-5 bg-yellow-100 rounded-xl text-yellow-600 size-11">
                <svg class="absolute size-8 transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 10V6a3 3 0 0 1 3-3v0a3 3 0 0 1 3 3v4m3-2 .917 11.923A1 1 0 0 1 17.92 21H6.08a1 1 0 0 1-.997-1.077L6 8h12Z"/>
                </svg>
              </span>
            </div>
            <div class="flex flex-col justify-center text-left">
              <p class="text-2xl font-bold text-gray-600 dark:text-gray-100">
                {{ orderLast7DaysAmount|format_currency('XOF', locale='fr') }}
              </p>
              <div class="flex justify-end text-sm {{ orderAmountPriviousLast7Days > orderLast7DaysAmount ? "text-red-500" : "text-green-500"}} ">
                <span class="text-gray-400 mr-2 text-xs">Les sept derniers jours</span>
                {% if orderAmountPriviousLast7Days > orderLast7DaysAmount %}
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6 9 12.75l4.286-4.286a11.948 11.948 0 0 1 4.306 6.43l.776 2.898m0 0 3.182-5.511m-3.182 5.51-5.511-3.181" />
                  </svg>
                  <span>-{{ OrderPercentageTransaction }}%</span>
                  {% else %}
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18 9 11.25l4.306 4.306a11.95 11.95 0 0 1 5.814-5.518l2.74-1.22m0 0-5.94-2.281m5.94 2.28-2.28 5.941" />
                  </svg>
                  <span>+{{ OrderPercentageTransaction }}%</span>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="md:flex hidden items-center justify-center rounded-md bg-white border border-gray-200 dark:bg-gray-800 shadow-lg hover:shadow-md">
        <div class="self-center text-center justify-center size-full">
          <div class="p-3 text-2xl text-gray-400 dark:text-gray-500">
            <div class="flex justify-between">
              <p class="ml-2 text-black text-sm dark:text-white">Nouveau clients</p>
              <span class="relative py-2.5 px-5 bg-green-200 rounded-xl text-green-500 size-11">
                <svg class="absolute size-8 transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M16 19h4a1 1 0 0 0 1-1v-1a3 3 0 0 0-3-3h-2m-2.236-4a3 3 0 1 0 0-4M3 18v-1a3 3 0 0 1 3-3h4a3 3 0 0 1 3 3v1a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1Zm8-10a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
                </svg>
              </span>
            </div>
            <div class="flex flex-col justify-center text-center">
              <p class="text-3xl font-bold text-gray-600 dark:text-gray-100">
                {{ customerCount.customerCountLast7Days }}
              </p>
              <div class="flex justify-end text-sm {{ customerCount.customerCountPrevious7Days > customerCount.customerCountLast7Days ? "text-red-500" : "text-green-500"}} ">
                <span class="text-gray-400 mr-2 text-xs">Les sept derniers jours</span>
                {% if customerCount.customerCountPrevious7Days > customerCount.customerCountLast7Days %}
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6 9 12.75l4.286-4.286a11.948 11.948 0 0 1 4.306 6.43l.776 2.898m0 0 3.182-5.511m-3.182 5.51-5.511-3.181" />
                  </svg>
                  <span>-{{ customerPercentage }}%</span>
                  {% else %}
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18 9 11.25l4.306 4.306a11.95 11.95 0 0 1 5.814-5.518l2.74-1.22m0 0-5.94-2.281m5.94 2.28-2.28 5.941" />
                  </svg>
                  <span>+{{ customerPercentage }}%</span>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="lg:flex items-center justify-center rounded-md bg-white border border-gray-200 dark:bg-gray-800 shadow-lg hover:shadow-md hidden">
        <div class="self-center text-center justify-center size-full">
          <div class="p-3 text-2xl text-gray-400 dark:text-gray-500">
            <div class="flex justify-between">
              <p class="ml-2 text-black text-sm dark:text-white">Comandes terminées</p>
              <span class="relative py-2.5 px-5 bg-gray-200 rounded-xl text-gray-500 size-11">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="absolute size-8 transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M11.35 3.836c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m8.9-4.414c.376.023.75.05 1.124.08 1.131.094 1.976 1.057 1.976 2.192V16.5A2.25 2.25 0 0 1 18 18.75h-2.25m-7.5-10.5H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V18.75m-7.5-10.5h6.375c.621 0 1.125.504 1.125 1.125v9.375m-8.25-3 1.5 1.5 3-3.75" />
                </svg>
              </span>
            </div>
            <div class="flex flex-col justify-center text-center">
              <p class="text-3xl font-bold text-gray-600 dark:text-gray-100">
                {{ transactionsCount.transactionsLast7Days }}
              </p>
              <div class="flex justify-end text-sm {{ transactionsCount.transactionsPreviousLast7Days > transactionsCount.transactionsLast7Days ? "text-red-500" : "text-green-500"}} ">
                <span class="text-gray-400 mr-2 text-xs">Les sept derniers jours</span>
                {% if transactionsCount.transactionsPreviousLast7Days > transactionsCount.transactionsLast7Days %}
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6 9 12.75l4.286-4.286a11.948 11.948 0 0 1 4.306 6.43l.776 2.898m0 0 3.182-5.511m-3.182 5.51-5.511-3.181" />
                  </svg>
                  <span>-{{ transactionPercentage }}%</span>
                  {% else %}
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18 9 11.25l4.306 4.306a11.95 11.95 0 0 1 5.814-5.518l2.74-1.22m0 0-5.94-2.281m5.94 2.28-2.28 5.941" />
                  </svg>
                  <span>+{{ transactionPercentage }}%</span>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 mb-4">
      <div class="flex flex-col h-max p-4 justify-start rounded-md bg-white border border-gray-200 dark:bg-gray-800 shadow-lg hover:shadow-md">
        <div class="flex gap-2 justify-start text-gray-600">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 3v11.25A2.25 2.25 0 0 0 6 16.5h2.25M3.75 3h-1.5m1.5 0h16.5m0 0h1.5m-1.5 0v11.25A2.25 2.25 0 0 1 18 16.5h-2.25m-7.5 0h7.5m-7.5 0-1 3m8.5-3 1 3m0 0 .5 1.5m-.5-1.5h-9.5m0 0-.5 1.5m.75-9 3-3 2.148 2.148A12.061 12.061 0 0 1 16.5 7.605" />
          </svg>
          <span class="text-sm font-semibold text-gray-600">Montant des transactions des 7 derniers jours</span>
        </div>
        <div id="data-collecte-chart" class="w-full" data-chart-datas="{{ weeklyCollectes|json_encode|e('html_attr') }}"></div>
      </div>
      <div class="flex flex-col h-max p-4 justify-start rounded-md bg-white border border-gray-200 dark:bg-gray-800 shadow-lg hover:shadow-md">
        <div class="flex gap-2 justify-start text-gray-600">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 3v11.25A2.25 2.25 0 0 0 6 16.5h2.25M3.75 3h-1.5m1.5 0h16.5m0 0h1.5m-1.5 0v11.25A2.25 2.25 0 0 1 18 16.5h-2.25m-7.5 0h7.5m-7.5 0-1 3m8.5-3 1 3m0 0 .5 1.5m-.5-1.5h-9.5m0 0-.5 1.5m.75-9 3-3 2.148 2.148A12.061 12.061 0 0 1 16.5 7.605" />
          </svg>
          <span class="text-sm font-semibold text-gray-600">Nombre des transactions des 7 derniers jours</span>
        </div>
        <div id="data-order-chart" class="w-full" data-chart-datas="{{ weeklyOrders|json_encode|e('html_attr') }}"></div>
      </div>

      <div class="flex flex-col p-4 max-h-max justify-start rounded bg-white border border-gray-200 dark:bg-gray-800 shadow-lg hover:shadow-md">
        <div class="flex gap-2 justify-start text-gray-600">
          <svg class="size-6" xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><g id="wash_machine_line" fill='none' fill-rule='nonzero'>
            <path d='M24 0v24H0V0h24ZM12.594 23.258l-.012.002-.071.035-.02.004-.014-.004-.071-.036c-.01-.003-.019 0-.024.006l-.004.01-.017.428.005.02.01.013.104.074.015.004.012-.004.104-.074.012-.016.004-.017-.017-.427c-.002-.01-.009-.017-.016-.018Zm.264-.113-.014.002-.184.093-.01.01-.003.011.018.43.005.012.008.008.201.092c.012.004.023 0 .029-.008l.004-.014-.034-.614c-.003-.012-.01-.02-.02-.022Zm-.715.002a.023.023 0 0 0-.027.006l-.006.014-.034.614c0 .012.007.02.017.024l.015-.002.201-.093.01-.008.003-.011.018-.43-.003-.012-.01-.01-.184-.092Z'/>
            <path fill='currentColor' d='M17 2a3 3 0 0 1 3 3v14a3 3 0 0 1-3 3H7a3 3 0 0 1-3-3V5a3 3 0 0 1 3-3h10Zm1 8H6v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1v-9Zm-6 1a4 4 0 1 1 0 8 4 4 0 0 1 0-8Zm0 2a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm5-9H7a1 1 0 0 0-.993.883L6 5v3h12V5a1 1 0 0 0-1-1Zm-1 1a1 1 0 0 1 .117 1.993L16 7h-1a1 1 0 0 1-.117-1.993L15 5h1Zm-4 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2Z'/></g>
          </svg>
          <span class="text-xs md:text-sm font-semibold text-gray-600">Nouvel collectes en attentes de traitement</span>
        </div>
        {{ include("home/_collecte.html.twig", {collectes: newCollectes}) }}
      </div>

      <div class="flex flex-col max-h-max p-4 justify-start rounded bg-white border border-gray-200 dark:bg-gray-800 shadow-lg hover:shadow-md">
        <div class="flex gap-2 justify-start text-gray-600">
          <svg class="size-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 10V6a3 3 0 0 1 3-3v0a3 3 0 0 1 3 3v4m3-2 .917 11.923A1 1 0 0 1 17.92 21H6.08a1 1 0 0 1-.997-1.077L6 8h12Z"/>
          </svg>
          <span class="text-xs md:text-sm font-semibold text-gray-600">Nouveau commandes en attentes de traitement</span>
        </div>
        {{ include("home/_order.html.twig", {orders: newOrders}) }}
      </div>

      <div class="flex flex-col p-4 justify-start rounded bg-white border border-gray-200 dark:bg-gray-800 shadow-lg hover:shadow-md">
        <div class="flex gap-2 justify-start text-gray-600">
          <svg class="size-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 10V6a3 3 0 0 1 3-3v0a3 3 0 0 1 3 3v4m3-2 .917 11.923A1 1 0 0 1 17.92 21H6.08a1 1 0 0 1-.997-1.077L6 8h12Z"/>
          </svg>
          <span class="text-xs md:text-xs font-semibold text-gray-600">Nouveau clients en attente d'un agent collecteur</span>
        </div>
        {{ include("home/_customer.html.twig", {customers: customerWaitingForCollecte}) }}
      </div>

      <div class="flex flex-col p-4 justify-start rounded bg-white border border-gray-200 dark:bg-gray-800 shadow-lg hover:shadow-md">
        <div class="flex gap-2 justify-start text-gray-600">
          <svg class="size-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 10V6a3 3 0 0 1 3-3v0a3 3 0 0 1 3 3v4m3-2 .917 11.923A1 1 0 0 1 17.92 21H6.08a1 1 0 0 1-.997-1.077L6 8h12Z"/>
          </svg>
          <span class="text-xs md:text-sm font-semibold text-gray-600">Nouveau clients en attente d'un agent collecteur</span>
        </div>
        {{ include("home/_paiement.html.twig", {paiements: paiementWaitingForConfirmation}) }}
      </div>

    </div>
    <div class="flex items-center justify-center mb-4 rounded bg-white border border-gray-200 dark:bg-gray-800">
    </div>
    <div class="grid grid-cols-2 gap-4">
      <div class="flex items-center justify-center rounded bg-white border border-gray-200 h-28 dark:bg-gray-800">
        <p class="text-2xl text-gray-400 dark:text-gray-500">
          <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16" />
          </svg>
        </p>
      </div>
      <div class="flex items-center justify-center rounded bg-white border border-gray-200 h-28 dark:bg-gray-800">
        <p class="text-2xl text-gray-400 dark:text-gray-500">
          <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16" />
          </svg>
        </p>
      </div>
      <div class="flex items-center justify-center rounded bg-white border border-gray-200 h-28 dark:bg-gray-800">
        <p class="text-2xl text-gray-400 dark:text-gray-500">
          <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16" />
          </svg>
        </p>
      </div>
      <div class="flex items-center justify-center rounded bg-white border border-gray-200 h-28 dark:bg-gray-800">
        <p class="text-2xl text-gray-400 dark:text-gray-500">
          <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16" />
          </svg>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
