{% extends 'base.html.twig' %}

{% block title %}
  clothingTypes
{% endblock %}

{% block body %}
  <div class="customer-form items-center min-h-full lg:px-8">
    <div class="max-w-screen-xl px-4 py-0 md:py-4 md:px-8">
      <div class="items-start px-6 py-4 lg:py-6 lg:px-8 md:flex text-gray-600">
        <div class="w-full">
          <h2 class="text-purple-800 text-2xl font-semibold sm:text-2xl">Nos tarifs</h2>
            <p class="text-gray-700 mt-2 text-sm font-semibold sm:text-md">Nos prix au lavage a deux categories:</p>
          <div class="flex flex-col mt-3">
            <span class="flex items-center">
              <span class="flex w-2.5 h-2.5 me-3 bg-purple-800 rounded-full"></span>
              <a href="#clothingtype" class="text-sm font-medium text-purple-500 hover:underline">
                Par type/nombre de vêtement
              </a>
            </span>
            <span class="flex items-center">
              <span class="flex w-2.5 h-2.5 me-3 bg-purple-800 rounded-full"></span>
              <a href="#clothingpea" class="text-sm font-medium text-purple-500 hover:underline">
                Au kg
              </a>
            </span>
          </div>
        </div>
      </div>
      <div class="w-full mt-5 px-6 py-4 lg:py-6 lg:px-8 lg:mx-auto bg-white border rounded-lg" id="clothingtype">
        <div class="w-full">
          <h3 class="text-purple-800 text-xl font-semibold sm:text-2xl">Collecte par type/nombre de vêtement</h3>
            <p class="text-gray-700 mt-2 text-sm sm:text-md">Vous pouvez effectuer une collecte en choisissant lavage par type/nombre de vêtement, nous allons alors classer les type de vêtement que vous avez et compter le tout pour ensuite calculer le prix total de votre collecte.</p>
        </div>
        <div class="mt-5 shadow-sm border rounded-lg overflow-x-auto">
          <table class="w-full md:w-full table-auto text-sm text-left">
            <thead class="bg-gray-100 w-full text-purple-950 font-medium border-b">
              <tr>
                <th class="py-2 px-4">Type de vêtement</th>
                <th class="py-2 px-4">Prix de lavage</th>
              </tr>
            </thead>
            <tbody class="text-gray-600 divide-y bg-white">
              {% for clothingType in clothingTypes %}
                <tr class="hover:bg-gray-100">
                  <td class="px-4 py-2 text-ellipsis overflow-hidden">{{ clothingType.name }}</td>
                  <td class="px-4 py-2 whitespace-wrap">{{ clothingType.price|format_currency('XOF', locale='de') }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <div class="w-full mt-5 px-6 py-4 lg:py-6 lg:px-8 lg:mx-auto bg-white border rounded-lg" id="clothingpea">
        <div class="w-full">
          <h3 class="text-purple-800 text-xl font-semibold sm:text-2xl">Collecte au Kg</h3>
            <p class="text-gray-700 mt-2 text-sm sm:text-md">Vous pouvez effectuer une collecte par Kg, nous allons peuser toute votre pile de vetement, les prix sont calculé par palier, vous pouvez choisir l'option + pour le shéssage, pilage et l'embalage moyenant des frais suplémentaires pour chaque palier.</p>
        </div>
        <div class="mt-5 shadow-sm border rounded-lg overflow-x-auto">
          <table class="w-full md:w-full table-auto text-sm text-left">
            <thead class="bg-gray-100 w-full text-purple-950 font-medium border-b">
              <tr>
                <th class="py-2 px-4">Palier</th>
                <th class="py-2 px-4">Prix de lavage</th>
                <th class="py-2 px-4">+ Shèssage, pilage et embalage</th>
              </tr>
            </thead>
            <tbody class="text-gray-600 divide-y bg-white">
              {% for clothingPea in clothingPeas %}
                <tr class="hover:bg-gray-100">
                  <td class="px-4 py-2 text-ellipsis overflow-hidden">{{ clothingPea.pea }} - {{ clothingPea.peaMax }}</td>
                  <td class="px-4 py-2 text-ellipsis overflow-hidden">{{ clothingPea.priceMin|format_currency('XOF', locale='fr') }}</td>
                  <td class="px-4 py-2 whitespace-wrap">{{ clothingPea.priceMax|format_currency('XOF', locale='fr') }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
