{{ form_start(form, {attr: {class: 'flex flex-col gap-4 w-full content-center justify-center max-w-lg mx-auto'}}) }}
    <div class="my-3 mx-auto">
        {% if type == 'clothingType' %}   
            {{ form_row(form.collecteDetailles, {row_class: 'col-start-1 col-span-4 mx-auto px-4',
                    label_class: 'block text-sm font-medium leading-6 text-gray-900',
                    error_item_class: 'text-red-500 text-sm font-medium',
                    widget_class: 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-purple-600 sm:text-sm sm:leading-6',
                    widget_disabled_class: 'my disabled widget classes',
                    widget_errors_class: 'ring-1 ring-inset ring-orange-600',
                }) 
            }}

            {% else %}
            {{ form_row(form.pea, {row_class: 'col-start-1 col-span-4 mx-auto px-4',
                    label_class: 'block text-sm font-medium leading-6 text-gray-900',
                    error_item_class: 'text-red-500 text-sm font-medium',
                    widget_class: 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-purple-600 sm:text-sm sm:leading-6',
                    widget_disabled_class: 'my disabled widget classes',
                    widget_errors_class: 'ring-1 ring-inset ring-orange-600',
                }) 
            }}
        {% endif %}
        <div class="flex justify-end gap-4 px-4">
            <a href="{{ path('home') }}" class="inline-flex items-center justify-center px-3 py-1.5 text-base font-medium border text-center text-purple-700 rounded-lg bg-gray-100 hover:bg-gray-200 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-400">Retour</a>
            {% if app.user %}
                <button class="inline-flex items-center justify-center px-3 py-1.5 text-base font-medium text-center text-white rounded-lg bg-purple-600 hover:bg-purple-700 focus:ring-4 focus:ring-purple-300 dark:focus:ring-purple-900">{{ button_label|default('Save') }}</button>
                {% else %}
                <button class="inline-flex items-center justify-center px-3 py-1.5 text-base font-medium text-center text-white rounded-lg bg-purple-600 hover:bg-purple-700 focus:ring-4 focus:ring-purple-300 dark:focus:ring-purple-900">Suivant</button>
            {% endif %}
        </div>
    </div>
{{ form_end(form) }}
