{% extends 'base.html.twig' %}

{% form_theme form 'tailwind_2_layout.html.twig' %}

{% block title %}
  Informations du client
{% endblock %}

{% block body %}
  <div class="customer-index flex min-h-full flex-col {{ app.user ? 'mt-12' : '' }} justify-center mx-auto lg:px-8">
    <div class="max-w-screen-xl px-4 py-0 md:py-8 md:px-8">
      <div class="items-start justify-between md:flex border-b pb-6 text-gray-600">
        <div class="max-w-lg">
          <h3 class="text-purple-800 text-xl font-bold sm:text-2xl">{{ app.user ? 'Informations du client' : 'Vos informations personnel' }}</h3>
          <p class="text-purple-950 text-sm font-medium mt-2">Ces informations nous permet de vous contacter et de vous localiser plus facilement. <a href="#" class="text-purple-900 hover:underline">En savoir plus sur notre polique de confidencialité</a></p>
        </div>
        {% if app.user %}
          <div class="mt-3 md:mt-0">
            <a href="{{ path('collecte.index') }}" class="inline-block px-4 py-2 text-white duration-150 font-medium border bg-gray-100 rounded-lg hover:bg-gray-300 active:bg-gray-400 md:text-sm" rel="nofollow">Retour</a>
          </div>
        {% endif %}
      </div>
      {{ form_start(form) }}
      <div class="flex flex-col max-w-sm my-3 px-4 mx-auto">
        {{ form_row(form.phoneNumber, { row_class: 'mb-2', label_class: 'block text-sm font-medium leading-6 text-gray-900', error_item_class: 'text-red-500 text-sm font-medium', widget_class: 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-purple-600 sm:text-sm sm:leading-6', widget_disabled_class: 'my disabled widget classes', widget_errors_class: 'ring-1 ring-inset ring-orange-600' }) }}
        {{ form_row(form.fullName, { row_class: 'mb-2', label_class: 'block text-sm font-medium leading-6 text-gray-900', error_item_class: 'text-red-500 text-sm font-medium', widget_class: 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-purple-600 sm:text-sm sm:leading-6', widget_disabled_class: 'my disabled widget classes', widget_errors_class: 'ring-1 ring-inset ring-orange-600' }) }}
        {{ form_row(form.adress, { row_class: 'mb-2', label_class: 'block text-sm font-medium leading-6 text-gray-900', error_item_class: 'text-red-500 text-sm font-medium', widget_class: 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-purple-600 sm:text-sm sm:leading-6', widget_disabled_class: 'my disabled widget classes', widget_errors_class: 'ring-1 ring-inset ring-orange-600' }) }}
        <div class="flex flex-col gap-4 p-2">
          <p class="text-sm font-medium text-purple-950" id="localisation-message">Veuillez autoriser la localisation afin que notre équipe puisse vous trouver plus facilement.</p>
          <div class="flex gap-2">
            {{ form_row(form.coordLng, { row_class: 'flex-2', label_class: 'block text-sm font-medium leading-6 text-gray-900', error_item_class: 'text-red-500 text-sm font-medium', widget_class: 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-purple-600 sm:text-sm sm:leading-6', widget_disabled_class: 'my disabled widget classes', widget_errors_class: 'ring-1 ring-inset ring-orange-600', attr: { disabled: true } }) }}
            {{ form_row(form.coordLat, { row_class: 'flex-2', label_class: 'block text-sm font-medium leading-6 text-gray-900', error_item_class: 'text-red-500 text-sm font-medium', widget_class: 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-purple-600 sm:text-sm sm:leading-6', widget_disabled_class: 'my disabled widget classes', widget_errors_class: 'ring-1 ring-inset ring-orange-600', attr: { disabled: true } }) }}
            <button type="button" id="localise" class="flex-1 inline-flex items-center justify-center px-3 py-1 text-base font-medium text-center text-white rounded-lg bg-yellow-600 hover:bg-yellow-700 focus:ring-4 focus:ring-yellow-300 dark:focus:ring-yellow-900">
              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-7 h-7" viewBox="0 0 384 512">
                <!-- !Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc. -->
                <path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z" />
              </svg>
            </button>
          </div>
        </div>
        <div class="w-full text-right mt-4">
          <a href="{{ path('collecte.edit', { id: collecte.id }) }}" class="px-3 py-2 m-1 text-sm font-medium text-center border text-purple-700 bg-gray-100 rounded-md hover:bg-gray-200 focus:ring-none focus:outline-none focus:bg-gray-300 dark:bg-gray-200 dark:hover:bg-gray-300 dark:focus:ring-none">Retour</a>
          <button type="submit" class="px-3 py-2 m-1 text-sm font-medium text-center border text-white bg-purple-700 rounded-md hover:bg-purple-800 focus:ring-none focus:outline-none focus:bg-purple-600 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-none">Valider</button>
        </div>
      </div>

      {{ form_end(form) }}
    </div>
  </div>
{% endblock %}
