<table class="w-full md:w-full table-auto text-sm text-left">
  <thead class="bg-gray-50 text-purple-900 font-bold border-b text-left">
    <tr>
      <th class="py-3 px-3"># Ref</th>
      <th class="py-3 px-3">Client</th>
      <th class="py-3 px-3">Caissier</th>
      <th class="py-3 px-3">Statuts</th>
      <th class="py-3 px-3">Totale</th>
    </tr>
  </thead>

  <tbody class="text-gray-600 font-medium divide-y bg-white">
    {% for payment in orderPayments %}    
        <tr>
            <td class="px-3 py-4 whitespace-nowrap">#<a href="{{ path('order.show', {id: payment.productOrder.id}) }}" class="text-purple-700 hover:underline">{{ payment.productOrder.reference }}</a></td>
            <td class="px-3 py-4 whitespace-nowrap">{{ payment.productOrder.customer.fullName }}</td>
            <td class="px-3 py-4 whitespace-nowrap">{{ payment.cashedBy }}</td>
            <td class="px-3 py-4 whitespace-nowrap">
              <span class="px-2 py-1 text-sm whitespace-nowrap {{ payment.confirmation == true ? 'text-green-800 bg-green-300' : 'text-yellow-800 bg-yellow-200' }} rounded-md">{{ payment.confirmation == true ? 'Validé' : 'En attente' }}</span>
            </td>
            <td class="px-3 py-4 whitespace-nowrap">{{ payment.amount|format_currency('XOF', locale='fr') }}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>
